/* mobile */
@media screen and (max-width: 768px) {
  .navbar {
    justify-content: space-around;
    /* flex-direction: column; */
  }

  .nav_menus {
    display: none;
  }

  .nav_menu {
    display: none;
  }

  .nav_toggle_btn {
    display: flex;
    font-weight: 500;
  }

  .nav_toggle_btn_text {
    color: #464646;
    list-style: none;
    font-weight: bold;
    font-size: 15px;
  }

  .nav_toggle_btn_text:hover {
    color: #219f94;
  }

  .toggle_menus {
    overflow-y: hidden;
    flex-direction: column;
    width: 100%;
    max-height: 100vh;
    box-sizing: border-box;
    transition: all 0.35s ease 0s;
    list-style: none;
    /* overlay하기 위함 */
    position: absolute;
    background-color: white;

    box-shadow: 1px 1px 1px #cecece;
    padding: 30px;

    font-weight: bold;
    font-size: 15px;

    margin: 0;
  }

  .toggle_menu {
    padding: 10px;
  }

  .toggle_menu_text {
    color: #464646;
  }

  .toggle_menu_text:hover {
    color: #219f94;
  }

  .nav_login {
    display: none;
  }
}

/* PC */
@media screen and (min-width: 750px) {
  .navbar {
    justify-content: space-around;
  }

  .nav_toggle_btn {
    display: none;
  }

  .toggle_menus {
    display: none;
  }
}

/* 공통 */
.navbar {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 12px;
  /* border-bottom: 1px solid #464646; */
  box-shadow: 1px 1px 1px #cecece;
  font-weight: bold;
  font-size: 15px;
}

.nav_menus {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 50%;
}

.nav_menu {
  color: #464646;
  text-decoration: none;
}

.nav_menu:hover {
  color: #219f94;
}
