.container {
  margin: 70px 0;
}

.search_div {
  display: flex;
  justify-content: flex-end;
  height: 35px;
}

.search_input {
  border: 1px solid rgb(201, 201, 201);
  border-radius: 20px;
  padding: 1rem;

  /* mobile에선 따로 적용해주기 */
  width: 30%;
}

/* input click  */
input:focus {
  /* outline: none; */
  outline: 1px solid #e8e8a6;
}

::placeholder {
  font-size: 10px;
  opacity: 1; /* Firefox */
  /* 수직 정렬;; */
}

.search_btn {
  border: 0px;
  border-radius: 20px;
  background-color: #e8e8a6;
  margin: 0 10px;
  cursor: pointer;
}

.search_num {
  display: flex;
  justify-content: start;
  font-size: 14px;
  /* font-weight: bold; */
  color: #333333;
  margin: 30px 5px;
}

.product_lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  /* justify-content: space-evenly; */
  margin-top: 10px;
}

/* ProductDetail */
.detail_top {
  padding-top: 100px;
  display: block;
}
.detail_img {
  float: left;
  position: relative;
  width: 50%;
}
.detail_img img {
  width: 500px;
}
.detail_view {
  float: right;
  width: 50%;
}
.detail_id {
  font-size: 18px;
  color: #585858;
}
.detail_title {
  font-size: 25px;
  font-weight: bold;
}
.detail_short_info {
  font-size: 18px;
  font-weight: bold;
  color: #585858;
}
