.slider {
  height: 250px;
  /* justify-content: center; */
}

.review_div {
  width: 90%;
  height: 220px;
  margin-top: 10px;
  margin-left: 18px;
  /* display: flex; */
  /* justify-content: space-around; */
  text-align: center;
  border: 1px solid #adadad;
  border-radius: 10px;
  padding: 30px;
}
.review_content {
  height: 100px;
  margin: 20px 0;
  white-space: pre-line;
}
