.survey_button {
  color: #2d2d2d;
  padding: 10px 50px;
  background: #c1deae;
  border: 0;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
  box-shadow: 1px 1px 5px rgb(207 206 206);
  font-family: "Noto Sans KR";
  cursor: pointer;
  margin-top: 30px;
}

/* mobile */

.survey_button_mob {
  color: black;
  padding: 0.375rem 0.75rem;
  background: #219f94;
  border: 0;
  border-radius: 25px;
  font-size: 1.2rem;
  line-height: 1.5;
  box-shadow: 0px 5px 10px rgb(207 206 206);
  cursor: pointer;
  margin-top: 10%;
  width: 8rem;
  margin-left: 35%;
}
